// app global css in SCSS form

// 引入 Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

// 設定全局字體
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

// 設定標題字體
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

// 設定段落字體
p {
  margin-bottom: 1rem;
}

// 設定按鈕字體
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  background: linear-gradient(to bottom, #f7f7f7, #e6e6e6);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: none;
}

button:hover {
  background-color: #0056b3; // 修改為你想要的顏色
  transform: scale(1.05);
  box-shadow: none;
}

// 設定 Quasar 元素的字體大小
textarea,
.q-input,
.q-spinner,
.q-card,
.q-card-section,
.q-card-actions {
  font-size: 1.2rem; // 調整這裡的數值來改變字體大小
}